.content {
  &__container {
    width: 100%;
  }

  &__wrap {
    width: 1200px;
    margin: 0 auto;
  }

  &__banner {
    height: 100px;
    padding: 0 15px;
    color: #e7e7e7;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    letter-spacing: 15px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  &__search {
    width: 70%;
    margin: 30px auto 0 auto;

    /* 覆盖antd样式 */
    .ant-input {
      border-color: #666;

      &:hover {
        border-color: #40a9ff;
      }

      &:focus {
        border-color: #1890ff;
      }
    }

    .recommend-tag {
      &__container {
        margin-top: 10px;
      }

      &__item {
        display: inline-block;
        margin-right: 20px;
        color: #666;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }

  &__main {
    margin-top: 30px;

    .carousel {
      &__container {
        width: 100%;

        .category {
          &__container {
            display: inline-block;
            float: right;
            width: 28%;
            height: 300px;
            background: yellow;
          }
        }
      }

      &__wrap {
        display: inline-block;
        width: 70%;
      }

      &__item {
        height: 300px;
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        line-height: 300px;
        background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
      }
    }
  }
}